<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!--"AQUI" SE DEFINE UNA NUEVA SECCION EN EL ARCHIVO DE CONFIGURACION LLAMADA "CacheSettings"-->
    <section name="CacheSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SitioWebOasis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--  Esta sección configura la clases CacheConfig que se utiliza para definir los tiempos de permanencia de ciertos objetos en caché -->
  <CacheSettings>
    <!-- true/false -->
    <add key="EnableCaching" value="true" />
    <!-- true/false -->
    <add key="RequireKeyDefinitionInConfig" value="true" />
    <!-- seconds, minutes, or hours -->
    <add key="DefaultCacheDurationUnits" value="seconds" />
    <!-- integer -->
    <add key="DefaultCacheDurationValue" value="3600" />
    <!-- 1 dia -->
    <add key="OASisLogin" value="86400" />
  </CacheSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:ClientId" value="d269670c-35ce-4f58-94ff-1313519caee1" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:Domain" value="espoch.edu.ec" />
    <add key="ida:TenantId" value="d7f86710-01e1-461d-8599-758de4542e2b" />
    <add key="ida:PostLogoutRedirectUri" value="https://localhost:44303/" />
    <!--REFERENCIA DE ACCESO AL MODULO DE AUTENTICACION DEL SISTEMA ACADEMICO-->
    <add key="Cliente.autenticacion.AccountManager" value="http://localhost/OAS_Seguridad/Autenticacion/Autenticacion.asmx" />

    <!--ACCESOS SITIO WEB-->
    <add key="SubSitesConfigFile" value="SiteMap.xml" />
    <add key="OAS_SitioWebLogin" value="SitioWeb" />
    <add key="OAS_SitioWebPassword" value="12345" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
        <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  
    <!--<sessionState mode="StateServer"
                  stateConnectionString="tcpip=loopback:42424"
                  cookieless="false"
                  timeout="300" />-->

  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServices" publicKeyToken="dc86e1807b5690e9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6430.28973" newVersion="1.0.6430.28973" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>    
  </system.webServer>
  <applicationSettings>
    <SitioWebOasis.Properties.Settings>
      <setting name="SitioWebOasis_WSDatosUsuario_DatosUsuarios" serializeAs="String">
        <value>http://localhost/Oasis/OAS_SitioWeb/SitioWeb_BusinessServices/DatosUsuarios.asmx</value>
      </setting>
      <setting name="SitioWebOasis_WSEgresamientoGraduacion_GestorEgresamientoGraduacion"
        serializeAs="String">
        <value>http://localhost/Oasis/OAS_EgresamientoGraduacion/EgresamientoGraduacion_BusinessServices/GestorEgresamientoGraduacion.asmx</value>
      </setting>
      <setting name="SitioWebOasis_WSGestorDeReportesEvaluacion_GestordeReportes"
        serializeAs="String">
        <value>http://localhost/Oasis/OAS_Evaluacion/Evaluacion_BusinessServices/GestordeReportes.asmx</value>
      </setting>
      <setting name="SitioWebOasis_WSGestorDeReportesMatriculacion_GestordeReportes"
        serializeAs="String">
        <value>http://localhost/Oasis/OAS_Matriculacion/Matriculacion_BusinessServices/GestordeReportes.asmx</value>
      </setting>
      <setting name="SitioWebOasis_WSGestorEvaluacion_GestorEvaluacion"
        serializeAs="String">
        <value>http://localhost/Oasis/OAS_Evaluacion/Evaluacion_BusinessServices/GestorEvaluacion.asmx</value>
      </setting>
      <setting name="SitioWebOasis_WSInfoCarreras_InfoCarreras" serializeAs="String">
        <value>http://localhost/Oasis/OAS_Comun/CommonWebServices/InfoCarreras.asmx</value>
      </setting>
      <setting name="SitioWebOasis_WSNotasEstudiante_NotasEstudiante"
        serializeAs="String">
        <value>http://localhost/Oasis/OAS_SitioWeb/SitioWeb_BusinessServices/NotasEstudiante.asmx</value>
      </setting>
      <setting name="SitioWebOasis_WSSeguridad_Seguridad" serializeAs="String">
        <value>http://localhost/Oasis/OAS_SitioWeb/SitioWeb_BusinessServices/Seguridad.asmx</value>
      </setting>
      <setting name="SitioWebOasis_WSAdministracionGeneral_GestorAdministracionGeneral"
        serializeAs="String">
        <value>http://localhost/Oasis/OAS_AdministracionGeneral/AdministracionGeneral_BusinessServices/GestorAdministracionGeneral.asmx</value>
      </setting>
    </SitioWebOasis.Properties.Settings>
  </applicationSettings>
</configuration>