@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger"> @ViewBag.mensaje </h1>
<h2 class="text-danger"> @Language.es_ES.EST_SMS_CONSULTA_SECRETARIA_CARRERA </h2>

