@{
    ViewBag.Title = "Sistema Académico";
}
<div class="widget-content">
    <div class="alert alert-warning alert-dismissable">
        <i class="fa fa-exclamation-triangle fa-3x"></i> <strong>Usuario registrado sin perfil definido</strong>, favor consultar en la secretaria de su carrera.
    </div>
</div>