
@{
    ViewBag.Title = Language.es_ES.MSG_PAGINA_NO_ENCONTRADA;
}


<div class="wrapper full-page-wrapper page-error text-center">
    <div class="inner-page">
        <h1>
            <span class="clearfix title">
                <span class="number">404</span> <span class="text">Oops! <br />@Language.es_ES.MSG_PAGINA_NO_ENCONTRADA</span>
            </span>
        </h1>
    </div>
</div>
    


