@{
    ViewBag.Title = "ActualizarCuentaCorreo";
}

<h2>Información de cuenta de correo</h2>

@using (Html.BeginForm("Index", "ActualizarCuentaCorreo"))
{

    @Html.Label("Ingrese su numero de cedula: ", new { @class = "col-sm-3 control-label" });
    <div class="col-sm-9">
        @Html.TextBox(  "strNumCedula",
                         "",
                         new{
                             id = "strNumCedula",
                             @class = "form-control",
                             @style = "font-weight: bold;"
                         })
    </div>

    <input type="submit" value="Verificar numero cedula" />
}



